<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Curd</display-name>
  <servlet>
    <description></description>
    <display-name>EmployeeSaveController</display-name>
    <servlet-name>EmployeeSaveController</servlet-name>
    <servlet-class>com.ciq.controller.EmployeeSaveController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeSaveController</servlet-name>
    <url-pattern>/empsave</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.ciq.controller.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeFindAllController</display-name>
    <servlet-name>EmployeeFindAllController</servlet-name>
    <servlet-class>com.ciq.controller.EmployeeFindAllController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeFindAllController</servlet-name>
    <url-pattern>/findall</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.ciq.controller.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeUpdateController</display-name>
    <servlet-name>EmployeeUpdateController</servlet-name>
    <servlet-class>com.ciq.controller.EmployeeUpdateController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeUpdateController</servlet-name>
    <url-pattern>/update</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeDelete</display-name>
    <servlet-name>EmployeeDelete</servlet-name>
    <servlet-class>com.ciq.controller.EmployeeDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeDelete</servlet-name>
    <url-pattern>/delete</url-pattern>
  </servlet-mapping>
</web-app>