<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ServletDemo</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
</welcome-file-list>
<servlet>
<servlet-name>MyServlet</servlet-name>
<servlet-class>com.ciq.controller.MyServlet</servlet-class>
<load-on-startup>1</load-on-startup>
</servlet>
<servlet-mapping>
<servlet-name>MyServlet</servlet-name>
<url-pattern>/my</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>ServletDemo</servlet-name>
<servlet-class>com.ciq.controller.ServletDemo</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ServletDemo</servlet-name>
<url-pattern>/sdemo</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>GenericDemo</servlet-name>
<servlet-class>com.ciq.controller.GenericDemo</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>GenericDemo</servlet-name>
<url-pattern>/gdemo</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>HttpServletDemo</servlet-name>
<servlet-class>com.ciq.controller.HttpServletDemo</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>HttpServletDemo</servlet-name>
<url-pattern>/hdemo</url-pattern>
</servlet-mapping>

</web-app>